<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        .post {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        nav a {
            color: #2c22ee;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Basic Media/Characters</a>
        <a href="{{ url_for('more_info') }}">Additional Media/Character Info</a>
        <a href="{{ url_for('relationships') }}">Relationships</a>
        <a href="{{ url_for('queries') }}">Queries</a>
    </nav>
    <hr>
    <div class="user_info">
        {% block user_info %} {% endblock %}
    </div>
    <div class="character_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block character_info %} {% endblock %}
    </div>
    <div class="song_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block song_info %} {% endblock %}
    </div>
    <div class="movie_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block movie_info %} {% endblock %}
    </div>
    <div class="game_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block game_info %} {% endblock %}
    </div>
    <div class="comic_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block comic_info %} {% endblock %}
    </div>
    <div class="tv_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block tv_info %} {% endblock %}
    </div>
    <div class="crossover_info">
        {% block crossover_info %} {% endblock %}
    </div>
    <div class="comic_artist_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block comic_artist_info %} {% endblock %}
    </div>
    <div class="relationships_title">
        {% block relationships_title %} {% endblock %}
    </div>
    <div class="create_relationships">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block create_relationships %} {% endblock %}
    </div>
    <div class="comic_id_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block comic_id_info %} {% endblock %}
    </div>
    <div class="create_m_has_c">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block create_m_has_c %} {% endblock %}
    </div>
    <div class="add_char_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block add_char_info %} {% endblock %}
    </div>
    <div class="create_interaction">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block create_interaction %} {% endblock %}
    </div>
    <div class="char_id_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block char_id_info %} {% endblock %}
    </div>
    <div class="query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block query_info %} {% endblock %}
    </div>
    <div class="more_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block more_query_info %} {% endblock %}
    </div>
    <div class="user_driven_query">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block user_driven_query %} {% endblock %}
    </div>
    <div class="song_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block song_query_info %} {% endblock %}
    </div>
    <div class="movie_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block movie_query_info %} {% endblock %}
    </div>
    <div class="tv_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block tv_query_info %} {% endblock %}
    </div>
    <div class="comic_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block comic_query_info %} {% endblock %}
    </div>
    <div class="game_query_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block game_query_info %} {% endblock %}
    </div>
    <div class="display_crossovers">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block display_crossovers %} {% endblock %}
    </div>
    <div class="add_movie_actor">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block add_movie_actor %} {% endblock %}
    </div>
    <div class="movie_actor_create_title">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block movie_actor_create_title %} {% endblock %}
    </div>
    <div class="add_cgi_actor">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block add_cgi_actor %} {% endblock %}
    </div>
    <div class="create_animator">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block create_animator %} {% endblock %}
    </div>
    <div class="tv_id_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block tv_id_info %} {% endblock %}
    </div>
    <div class="movie_id_info">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block movie_id_info %} {% endblock %}
    </div>
    <div class="more_user_info">
        {% block more_user_info %} {% endblock %}
    </div>
    <div class="more_song_info">
        {% block more_song_info %} {% endblock %}
    </div>
    <div class="more_movie_info">
        {% block more_movie_info %} {% endblock %}
    </div>
    <div class="more_comic_info">
        {% block more_comic_info %} {% endblock %}
    </div>
    <div class="more_cgi_info">
        {% block more_cgi_info %} {% endblock %}
    </div>
    <div class="more_anim_info">
        {% block more_anim_info %} {% endblock %}
    </div>
    <div class="more_game_info">
        {% block more_game_info %} {% endblock %}
    </div>
    <div class="more_character_info">
        {% block more_character_info %} {% endblock %}
    </div>
    <div class="f_m_w_c">
        <div class="alert">{{ message }}</div>
        {% block f_m_w_c %} {% endblock %}
    </div>
    <div class="f_c_w_f">
        <div class="alert">{{ message }}</div>
        {% block f_c_w_f %} {% endblock %}
    </div>
    <div class="f_c_w_s">
        <div class="alert">{{ message }}</div>
        {% block f_c_w_s %} {% endblock %}
    </div>
    
</body>
</html>