{% extends 'base.html' %}

{% block comic_query_info %}
    <h2>{% block query_title %} Aggregation Comic Query Results {% endblock %}</h2>
    <div class='query_results'>
        <table>
            <tr><b>Average Star Rating for Comics:</b> {{ avg_star }} </tr><br>
            <tr><b>Minimum Star Rating for Comics:</b> {{ min_star }}</tr><br>
            <tr><b>Maximum Star Rating for Comics:</b> {{ max_star }}</tr><br>
            <tr><b>Oldest Year of Comic Interacted With:</b> {{ min_year }}</tr><br>
            <tr><b>Newest Year of Comic Interacted With:</b> {{ max_year }}</tr><br>
            <tr><b>Total Number of Comics Interacted With:</b> {{ row_count }}</tr><br>
    </table>
    </div>
    <br>
{% endblock %}