{% extends 'base.html' %}

{% block create_m_has_c %}
    <h1>{% block m_has_c_title %} Add a New Character in Media (MUST INCLUDE CHARACTER AND ONLY ONE MEDIA ID) {% endblock %}</h1>
    <form method="post">
        <label for="ch_id">Character ID</label>
        <br>
        <input type="int" name="ch_id"
               placeholder="Character ID"
               value="{{ request.form['ch_id'] }}"></input>
        <br>

        <label for="mo_id">Movie ID</label>
        <br>
        <input type="int" name="mo_id"
               placeholder="Movie ID"
               value="{{ request.form['mo_id'] }}"></input>
        <br>

        <label for="c_id">Comic ID</label>
        <br>
        <input type="int" name="c_id"
               placeholder="Comic ID"
               value="{{ request.form['c_id'] }}"></input>
        <br>

        <label for="g_id">Game ID</label>
        <br>
        <input type="int" name="g_id"
               placeholder="Game ID"
               value="{{ request.form['g_id'] }}"></input>
        <br>

        <label for="tv_id">TV Show ID</label>
        <br>
        <input type="int" name="tv_id"
               placeholder="TV Show ID"
               value="{{ request.form['tv_id'] }}"></input>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}


{% block interaction_title %} Here is the list of IDs: {% endblock %}

{% block character_info %}
    <h1>{% block character_title %} Characters {% endblock %}</h1>
    <div class='characters'>
    <table>
        <tr>
            <th>Character ID</th>
            <th>Character Name</th>
        </tr>
        {% for characters in media_character %}
        <tr>
            <td>{{ characters['id'] }}</td>
            <td>{{ characters['ch_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block comic_info %}
    <h1>{% block comic_title %} Comics {% endblock %}</h1>
    <div class='comics'>
    <table>
        <tr>
            <th>Comic ID</th>
            <th>Comic Title</th>
        </tr>
        {% for comics in comic %}
        <tr>
            <td>{{ comics['id'] }}</td>
            <td>{{ comics['c_title'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block tv_info %}
    <h1>{% block tv_title %} TV Shows {% endblock %}</h1>
    <div class='tvs'>
    <table>
        <tr>
            <th>TV Show ID</th>
            <th>TV Show Title</th>
        </tr>
        {% for tvs in tv_show %}
        <tr>
            <td>{{ tvs['id'] }}</td>
            <td>{{ tvs['tv_title'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block movie_info %}
    <h1>{% block movie_title %} Movies {% endblock %}</h1>
    <div class='movies'>
    <table>
        <tr>
            <th>Movie ID</th>
            <th>Movie Title</th>
        </tr>
        {% for movies in movie %}
        <tr>
            <td>{{ movies['id'] }}</td>
            <td>{{ movies['mo_title'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block game_info %}
    <h1>{% block game_title %} Games {% endblock %}</h1>
    <div class='games'>
    <table>
        <tr>
            <th>Game ID &emsp;</th>
            <th>Game Title</th>
        </tr>
        {% for games in game %}
        <tr>
            <td>{{ games['id'] }}</td>
            <td>{{ games['g_title'] }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}