{% extends 'base.html' %}

{% block game_info %}
    <h1>{% block game_title %} Add a New Game {% endblock %}</h1>
    <form method="post">
        <label for="g_title">Game Title</label>
        <br>
        <input type="text" name="g_title"
               placeholder="Game title"
               value="{{ request.form['g_title'] }}"></input>
        <br>

        <label for="year_no">Year</label>
        <br>
        <input type="text" name="year_no"
               placeholder="Year"
               value="{{ request.form['year_no'] }}"></input>
        <br>

        <label for="favorite">Is favorite? (0 not, 1 is)</label>
        <br>
        <input type="text" name="favorite"
               placeholder="Favorite?"
               value="{{ request.form['favorite'] }}"></input>
        <br>

        <label for="star_amount">Star Amount</label>
        <br>
        <input type="text" name="star_amount"
               placeholder="Star Amount"
               value="{{ request.form['star_amount'] }}"></input>
        <br>

        <label for="media_comment">Game Comment</label>
        <br>
        <input type="text" name="media_comment"
               placeholder="Comment"
               value="{{ request.form['media_comment'] }}"></input>
        <br>

        <label for="g_genre">Game Genre</label>
        <br>
        <input type="text" name="g_genre"
               placeholder="Genre"
               value="{{ request.form['g_genre'] }}"></input>
        <br>


        <button type="submit">Submit</button>
    </form>
{% endblock %}