{% extends 'base.html' %}

{% block movie_info %}
    <h1>{% block movie_title %} Add a New Movie {% endblock %}</h1>
    <form method="post">
        <label for="mo_title">Movie Title</label>
        <br>
        <input type="text" name="mo_title"
               placeholder="Movie title"
               value="{{ request.form['mo_title'] }}"></input>
        <br>

        <label for="year_no">Year</label>
        <br>
        <input type="int" name="year_no"
               placeholder="Year"
               value="{{ request.form['year_no'] }}"></input>
        <br>

        <label for="favorite">Is favorite? (0 not, 1 is)</label>
        <br>
        <input type="text" name="favorite"
               placeholder="Favorite?"
               value="{{ request.form['favorite'] }}"></input>
        <br>

        <label for="star_amount">Star Amount</label>
        <br>
        <input type="int" name="star_amount"
               placeholder="Star Amount"
               value="{{ request.form['star_amount'] }}"></input>
        <br>

        <label for="media_comment">Movie Comment</label>
        <br>
        <input type="text" name="media_comment"
               placeholder="Comment"
               value="{{ request.form['media_comment'] }}"></input>
        <br>

        <label for="mo_director">Movie Director</label>
        <br>
        <input type="text" name="mo_director"
               placeholder="Director"
               value="{{ request.form['mo_director'] }}"></input>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}