{% extends 'base.html' %}

{% block crossover_info %}
    <h1>{% block crossover_title %} Add a New Crossover {% endblock %}</h1>
    <form method="post">
        <label for="g_id">Game ID</label>
        <br>
        <input type="int" name="g_id"
               placeholder="Game ID"
               value="{{ request.form['g_id'] }}"></input>
        <br>

        <label for="c_id">Comic ID</label>
        <br>
        <input type="int" name="c_id"
               placeholder="Comic ID"
               value="{{ request.form['c_id'] }}"></input>
        <br>

        <label for="char_id">Character ID</label>
        <br>
        <input type="int" name="char_id"
               placeholder="Character ID"
               value="{{ request.form['char_id'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block interaction_title %} Here is the list of IDs: {% endblock %}

{% block character_info %}
    <h1>{% block character_title %} Characters {% endblock %}</h1>
    <div class='characters'>
    <table>
        <tr>
            <th>Character ID</th>
            <th>Character Name</th>
        </tr>
        {% for characters in media_character %}
        <tr>
            <td>{{ characters['id'] }}</td>
            <td>{{ characters['ch_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block comic_info %}
    <h1>{% block comic_title %} Comics {% endblock %}</h1>
    <div class='comics'>
    <table>
        <tr>
            <th>Comic ID</th>
            <th>Comic Title</th>
        </tr>
        {% for comics in comic %}
        <tr>
            <td>{{ comics['id'] }}</td>
            <td>{{ comics['c_title'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block game_info %}
    <h1>{% block game_title %} Games {% endblock %}</h1>
    <div class='games'>
    <table>
        <tr>
            <th>Game ID &emsp;</th>
            <th>Game Title</th>
        </tr>
        {% for games in game %}
        <tr>
            <td>{{ games['id'] }}</td>
            <td>{{ games['g_title'] }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}