{% extends 'base.html' %}

{% block character_info %}
    <h1>{% block character_change %} Edit "{{ chars['ch_name'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="ch_name">Character Name</label>
        <br>
        <input type="text" name="ch_name"
               placeholder="Character Name"
               value="{{ request.form['ch_name'] or chars['ch_name'] }}"></input>
        <br>

        <label for="species">Species</label>
        <br>
        <input type="text" name="species"
               placeholder="Species"
               value="{{ request.form['species'] or chars['species'] }}"></input>
        <br>

        <label for="fur_color">Fur Color</label>
        <br>
        <input type="text" name="fur_color"
               placeholder="Fur Color"
               value="{{ request.form['fur_color'] or chars['fur_color'] }}"></input>
        <br>

        <label for="eye_color">Eye Color</label>
        <br>
        <input type="text" name="eye_color"
               placeholder="Eye Color"
               value="{{ request.form['eye_color'] or chars['eye_color'] }}"></input>
        <br>

        <label for="fluff_color">Fluff Color</label>
        <br>
        <input type="text" name="fluff_color"
               placeholder="Fluff Color"
               value="{{ request.form['fluff_color'] or chars['fluff_color'] }}"></input>
        <br>
        
        <button type="submit">Submit</button>
    </form>

    <hr>
    <form action="{{ url_for('delete_char', id=chars['id']) }}" method="POST">
        <input type="submit" value="Delete Character"
                onclick="return confirm('Are you sure you want to delete this character?')">
    </form>
{% endblock %}