{% extends 'base.html' %}

{% block comic_info %}
    <h1>{% block comic_change %} Edit "{{ comics['c_title'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="c_title">Comic Title</label>
        <br>
        <input type="text" name="c_title"
               placeholder="Comic title"
               value="{{ request.form['c_title'] or comics['c_title'] }}"></input>
        <br>

        <label for="year_no">Year Number</label>
        <br>
        <input type="text" name="year_no"
               placeholder="Year"
               value="{{ request.form['year_no'] or comics['year_no'] }}"></input>
        <br>

        <label for="favorite">Is favorite? (0 no, 1 yes)</label>
        <br>
        <input type="text" name="favorite"
               placeholder="Favorite?"
               value="{{ request.form['favorite'] or comics['favorite'] }}"></input>
        <br>

        <label for="media_comment">Comic Comment</label>
        <br>
        <input type="text" name="media_comment"
               placeholder="Comic comment"
               value="{{ request.form['media_comment'] or comics['media_comment'] }}"></input>
        <br>

        <label for="star_amount">Comic Star Amount</label>
        <br>
        <input type="text" name="star_amount"
               placeholder="Star amount"
               value="{{ request.form['star_amount'] or comics['star_amount'] }}"></input>
        <br>

        <label for="c_series">Comic Series</label>
        <br>
        <input type="text" name="c_series"
               placeholder="Series"
               value="{{ request.form['c_series'] or comics['c_series'] }}"></input>
        <br>
        
        
        <button type="submit">Submit</button>
    </form>
{% endblock %}