{% extends 'base.html' %}

{% block query_info %}
    <h2>{% block query_title %} Aggregation Query Results {% endblock %}</h2>
    <div class='query_results'>
        <table>
            <tr><b>Total Length of Songs Listened To (in seconds):</b> {{sum_len}} </tr><br>
            <tr><b>Average Length of Songs Listened To (in seconds):</b> {{avg_len}} </tr><br>
            <tr><b>Average Star Rating for All Media:</b> {{ avg_star }} </tr><br>
            <tr><b>Minimum Star Rating for All Media:</b> {{ min_star }}</tr><br>
            <tr><b>Maximum Star Rating for All Media:</b> {{ max_star }}</tr><br>
            <tr><b>Oldest Year of Media Interacted With:</b> {{ min_year }}</tr><br>
            <tr><b>Newest Year of Media Interacted With:</b> {{ max_year }}</tr><br>
            <tr><b>Total Number of Media Interacted With:</b> {{ row_count }}</tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('song_queries') }}">Song Specific Queries</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('movie_queries') }}">Movie Specific Queries</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('tv_queries') }}">TV Show Specific Queries</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('comic_queries') }}">Comic Specific Queries</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('game_queries') }}">Game Specific Queries</a></button></tr><br>
    </table>
    </div>
    <br>
{% endblock %}

{% block more_query_info %}
    <h2>{% block more_query_title %} Other Queries {% endblock %}</h2>
    <div class='query_results_2'>
        <table>
            <tr><b>Favorite Songs: </b> {% for row in fav_s %} {{ row[0] }}, {% endfor %}</tr><br>
            <tr><b>Favorite Games: </b> {% for row in fav_g %} {{ row[0] }}, {% endfor %} </tr><br>
            <tr><b>Favorite Movies: </b> {% for row in fav_mo %} {{ row[0] }}, {% endfor %} </tr><br>
            <tr><b>Favorite TV Shows: </b> {% for row in fav_tv %} {{ row[0] }}, {% endfor %} </tr><br>
            <tr><b>Favorite Comics: </b> {% for row in fav_c %} {{ row[0] }}, {% endfor %} </tr><br>
            <tr><b>Actors in Both a Movie and TV Show: </b> {% for row in actor_list %} {{ row[0] }}, {% endfor %} </tr><br>
            <tr><b>Characters That Are in All Games:</b> {% for row in all_char %} {{ row[0] }}, {% endfor %}</tr>
            <tr><b></b></tr>
        </table>
{% endblock %}

{% block user_driven_query %}
    <h2>{% block user_driven_query_title %} User Driven Query Results {% endblock %}</h2>
    <div class='user_driven_query_results'>
        <table>
            <tr><b>Find Media with Certain Character</b></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('find_m_w_c') }}">Find Media with Certain Character</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('find_c_w_f') }}">Find Characters with Specified Fur Color</a></button></tr><br>
            <tr><button class="dropbtn"><a href="{{ url_for('find_c_w_s') }}">Find Characters with Specified Species</a></button></tr><br>
        </table>
    </div>
{% endblock %}