{% extends 'base.html' %}

{% block tv_query_info %}
    <h2>{% block query_title %} Aggregation TV Show Query Results {% endblock %}</h2>
    <div class='query_results'>
        <table>
            <tr><b>Average Star Rating for TV Shows:</b> {{ avg_star }} </tr><br>
            <tr><b>Minimum Star Rating for TV Shows:</b> {{ min_star }}</tr><br>
            <tr><b>Maximum Star Rating for TV Shows:</b> {{ max_star }}</tr><br>
            <tr><b>Oldest Year of TV Show Interacted With:</b> {{ min_year }}</tr><br>
            <tr><b>Newest Year of TV Show Interacted With:</b> {{ max_year }}</tr><br>
            <tr><b>Total Number of TV Show Interacted With:</b> {{ row_count }}</tr><br>
    </table>
    </div>
    <br>
{% endblock %}